.menu{
	width: 100%;
	border: 1em;
	border-color: white;
}

#opcion{
 
	widht: 30%;
	height:5em;
	background-color: aqua;
	font-family: sans-serif;
	color: white;
	
}

#pagetitle{
 
    font-family: sans-serif;
    font-weight: 700;    
}

body{
 
    font-family: sans-serif;
}