body{
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	text-align: center;
	background-color: black;
	color: white;
	
}

#form{
	
	padding: 1em;
	background-color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
	width: 20em;
	color: black;
}

#landingImage{

	width: 30%;
	height:40%;

}

.articleImg{

	max-width: 60%;
	max-height: 40%;

}

#title{

	font-size: 2em;
	
}

td{

	width: 25%;

}

#alert{
	color: white;
	padding: 1em;
}

footer{
color: darkgray;	
}

.watermark
{
 position:fixed;
 bottom:1.5em;
 right:2em;
 opacity:0.8;
 z-index:99;
 color:white;
}

#icon{
	width: 15em;
	
}