body{

    background-color: #F7E9FC;

}
@font-face {
    font-family: articleTitle;
    src: url(KozMinPro-Light.otf);
}

@font-face {
    font-family: articleText;
    src: url(malgun.ttf);
}

#me{
    width: 20%;

}

#name{

    color: purple;
    font-family: articleText;

}

#about{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#titlepage{
    display: inline-block;
    font-size: 3em; 
    padding-bottom: 0;
    margin-bottom: 0;
    width: 36%;

}

#icon{

    display: inline-block;
    width: 10%;
    height: 10%;
}

#subtitle{
    padding-top: 0;
    margin-top: 0;
}

header{
    color: purple;
    font-family: articleTitle;
}




.article{

    font-family: articleText;

}


#otrasnoticias{

    color: white;
    background-color: purple;
    align-content: center;

}

a{
    font-family: articleTitle;
    color: white;
}

#miniarticles{

    color: white;
    display: inline-block;
    width: 30%;
    height: 50%;
    align-content: center;
    padding: 1%;


}

#main_article {
    font-size: 1em;   
}

#menuitem{

    margin-bottom: 0;
    font-family: articleTitle;
    color: white;
    background-color: purple;
    width: 30%;
    height: 3em;
    display: inline-block; 
    text-align: center;
}

#article_block
{
    margin-top: 0;
    margin-right: 5%;
    background-color: white;
    display : inline-block;
    width : 60%;
    height: 20em;
    align-content: center;
}

h4{

    color: white;

}

aside
{
    display : inline-block;
    width : 20%;
    height: 60%;
    background-color:salmon;
}

#textadd{

    font-family: sans-serif;
    text-align: center; 
    color: white;
}

#add {
    max-width: 100%;
    align-self: center;
}


footer{
    text-align: center;
    color: darkgray;
    font-family: articleTitle;   
}